# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# GeniusPay
GENIUSPAY_API_KEY=
GENIUSPAY_MERCHANT_ID=
GENIUSPAY_BASE_URL=https://api.geniuspay.ci/v1
GENIUSPAY_WEBHOOK_SECRET=

# Orange SMS API
ORANGE_SMS_API_KEY=
ORANGE_SMS_SENDER=PressCI

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
